.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #BAA08C;
  color: rgb(107, 61, 54);
  padding: 4px 15px;
  border-radius: 0 0 4px 0;
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 8px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  font-weight: bold;
}

.logo-icon {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  margin-top: 3px;
}

.nav-controls {
  display: flex;
  gap: 15px;
}

.nav-controls a {
  color: white;
  text-decoration: none;
}

.title-container {
  display: flex;
  flex-direction: column;
  padding: 2px;
  padding-right: 5px;
  border: #a8923a dotted 1px;
  border-radius: 4px;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

.subtitle {
  font-size: 12px;
  color: #879010;
  align-self: flex-end;
  margin-right: -2px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.header a:hover {
  background-color: #d4b093;
}

.brand-icon {
  width: 28px;
  height: 28px;
  fill: rgb(107, 61, 54);
}

/*
@media (max-width: 768px) {
  .nav-controls {
    display: none;
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 50px;
    right: 20px;
    width: 150px;
    padding: 10px;
  }

  .nav-controls.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
*/

.connect-button {
  padding: 0.5rem 2.5rem 0.5rem 0.75rem;
  text-align: left;
  background: #222;
  color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  outline: none;
}